.hero {
  display: flex;

  justify-content: space-between;
  align-items: center;

  max-width: 1080px;
  margin: 0 auto;

  height: 80vh;

  .heroInfo {
    h1 {
      font-size: 3rem;
      color: var(--red);
    }
    p {
      font-size: 1.5rem;
    }

    .buttons {
      margin-top: 2rem;
    }

    .button {
      background: var(--red);
      border: 0;
      padding: 1rem 2rem;
      border-radius: 0.25rem;
      position: relative;

      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
      }
      & + button {
        margin-left: 0.5rem;
      }
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
  .heroImage {
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }

    margin-right: 5rem;
  }
}
