.header {
  background: var(--foreground);

  nav {
    max-width: 1080px;
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 1.5rem 0;

    ul {
      list-style: none;
      display: flex;

      li {
        font-size: 1.5rem;
        margin: 0rem 1rem;

        a {
          text-decoration: none;
          color: var(--text);
          padding-bottom: 0.5rem;

          transition: filter 0.2s;

          &:hover {
            border-bottom: 2px solid var(--red);

            filter: brightness(1.2);
          }
        }
      }
    }
  }
}
