.container {
  background: var(--foreground);
  .content {
    max-width: 1080px;
    margin: 5rem auto;
  }
}
.containerDark {
  .content {
    max-width: 1080px;
    margin: 5rem auto;
  }
}
@media (max-width: 1024px) {
  .container {
    background: var(--foreground);
    .content {
      margin: 5rem 2rem;
    }
  }

  .containerDark {
    .content {
      margin: 5rem 2rem;
    }
  }
}

@media (max-width: 720px) {
  .container {
    background: var(--foreground);
    .content {
      margin: 5rem 2rem;
    }
  }

  .containerDark {
    .content {
      margin: 5rem 2rem;
    }
  }
}
